:root{
  --master-color: #2196F3;
  --text-color: #212121;
  --paragraph-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif; 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul {
  list-style: none;
}

header ul a:hover{
  color: var(--master-color);
  cursor: poiter;
}

header ul a:focus{
  color: var(--master-color);
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #2F303A;
}
/* Шапка */
.section{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
/* Логотип компании */
.logo{
  display: block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--master-color);
  padding-right: 93px;
}

.logo-span{
  color: #000;
}
/* Навигация по сайту */
.nav-list{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.nav-item{
  margin-right: 50px;
}

.nav-item:last-child{
  margin-right: 0;
}

.nav-link{
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.studio{
  color: var(--master-color);
}

.portfolio{
  color: var(--master-color);
}

/* Контакты шапки */
.contact-list{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.contact-item{
  margin-right: 50px;
}

.contact-item:last-child{
  margin-right: 0;
}

.contact-link{
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-link, .contact-link{
  color: var(--paragraph-color);
}

/* Эффективные решения */

.effective-solutions{
  background-color: #2F303A;;
  text-align: center;
  letter-spacing: 0.06em;
}

.es{
  flex-direction: column;
}

/* Загаловок "эффективные решения" */
.effective-solutions-title {
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  max-width: 696px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 200px;
}

/* Кнопка "заказать услугу" */
.effective-solutions-button{
  display: block;
  background-color: var(--master-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 200px;
}

.effective-solutions-button:hover{
  background-color: #188CE8;
}

.effective-solutions-button:focus{
  background-color: #188CE8;
}

/* Список преимуществ */

.advantage-title{
  display: none;
}

.advantage-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.advantage-item{
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-right: 30px;
}

.advantage-item:last-child{
  margin-right: 0;
}
.advantage-item-title{
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin: 0 0 10px 0;
}

.advantage-item-text{
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin: 0;
}

/* Чем мы занимаемся */

.opportunities-title{
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 0 50px 0;
}

.opportunities-list{
  display: flex;
  margin: 0;
  padding: 0;
}

.opportunities-item{
  margin-right: 30px;
}


.opportunities-item:last-child{
  margin-right: 0;
}

/* Наша команда */

.team{
  background-color:#F5F4FA
}

.team-title{
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-top: 94px;
  margin: 0 0 50px 0;
}

.team-list{
  display: flex;
  margin: 0 0 94px 0;
  padding: 0;
  
}

.team-item{
  border-radius: 4px ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 30px;
}

.team-item:last-child{
  margin-right: 0;
}

.team-signature{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 60px;
}

.team-item-sudtitle{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 0 10px 0;
  }

.team-item-text{
  display: inline-block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin: 0;
}

/* Подвал */
.conteiner{
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.logotype{
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-logo{
  color: #fff;
}

.address-text {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 0;
  margin: 0 0 9px 0;
}

.footer-contact{
  padding: 0;
  margin: 0;
}

.footer-link{
  margin-bottom: 9px;
}

.footer-link:last-child{
  margin-bottom: 0;
  padding-bottom: 60px;
}

.footer-mail, .footer-tel{
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 0 9px 0;
}




/* Портфолио */

/* Фильтры */
.card{
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list{
  padding: 0;
  margin: 0;
}

.filter-list-button{
  display: flex;
  margin-bottom: 50px;
}

.filter-item{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button{
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  padding: 6px 22px;
  margin-right: 8px;
}

.filter-button:hover{
  background-color: var(--master-color);
  color: #fff;
}

.filter-button:focus{
  background-color: var(--master-color);
  color: #fff;
}

/* Проекты */

.our-projects{
  display: none;
}

.project-list{
  padding: 0;
  margin: 0;
}

.project-list-card{
  display: flex;
  flex-wrap: wrap;
  

}

.project-card{
  border: 1px solid #eee;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-card:nth-child(3n){
  margin-right: 0;
}

.card-heading{
  margin: 20px 24px;
}

.project-title{
  /* display: inline-block; */
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--text-color);
}

.project-text{
  /* display: inline-block; */
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--paragraph-color);
}